.loader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loader__container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--small {
    width: 2rem;
    height: 2rem;
  }

  &--medium {
    width: 2.5rem;
    height: 2.5rem;
  }

  &--large {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.loader__image {
  display: block;
  width: 100%;
  height: 100%;
}
