.nav-card {
  padding: 1rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: .125rem;
  grid-template-areas:"icon content";
  grid-template-columns: 72px 1fr;
  text-decoration: none;
  align-items: center;

  box-shadow: 0 0 0 1px var(--shadow-border), 0 1px 2px rgba(var(--shadow-color-rgb), .05);
  border-radius: 12px;

  color: inherit;
  background-color: var(--container-background);
  cursor: pointer;

  &[aria-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.nav-card__media {
  grid-area: icon;
  align-self: center;
  width: 72px;
  height: 72px;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.nav-card__content {
  grid-area: content;
}

.nav-card__title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--primary-title);
}

.nav-card__subtext {
  color: var(--primary-text);
  margin: 0;
}