:root {
  --font-family-base: system-ui, sans-serif;
  font-family: var(--font-family-base), sans-serif;
  --n800: #000000;
  --n800-rgb: 0, 0, 0;
  --n700: #2c2c2e;
  --n700-rgb: 44, 44, 46;
  --n600: #48484a;
  --n600-rgb: 72, 72, 74;
  --n500: #8e8e93;
  --n500-rgb: 142, 142, 147;
  --n400: #aeaeb2;
  --n400-rgb: 174, 174, 178;
  --n300: #c7c7cc;
  --n300-rgb: 199, 199, 204;
  --n200: #e8e8ed;
  --n200-rgb: 232, 232, 237;
  --n100: #f2f2f7;
  --n100-rgb: 242, 242, 247;
  --n50: #f8f8fa;
  --n50-rgb: 248, 248, 250;
  --n0: #ffffff;
  --n0-rgb: 255, 255, 255;
  --b700: #003b75;
  --b700-rgb: 0, 59, 117;
  --b600: #0057ad;
  --b600-rgb: 0, 87, 173;
  --b500: #0073e6;
  --b500-rgb: 0, 115, 230;
  --b400: #2491ff;
  --b400-rgb: 36, 145, 255;
  --b300: #a3d1ff;
  --b200: #cce6ff;
  --b200-rgb: 204, 230, 255;
  --b100: #e5f5ff;
  --b50: #f5fbff;
  --g700: #15423b;
  --g700-rgb: 21, 66, 59;
  --g600: #216358;
  --g500: #2b8272;
  --g500-rgb: 45, 185, 159;
  --g400: #36a18d;
  --g300: #94dbce;
  --g200: #c1ebe1;
  --g100: #f0f9f9;
  --y700: #523600;
  --y700-rgb: 82, 54, 0;
  --y600: #754e00;
  --y600-rgb: 117, 78, 0;
  --y500: #9e6900;
  --y500-rgb: 158, 105, 0;
  --y400: #c28100;
  --y300: #ffc34d;
  --y200: #ffdf9e;
  --y100: #fff6e5;
  --y100-rgb: 255, 246, 229;
  --r700: #7a0000;
  --r700-rgb: 122, 0, 0;
  --r600: #b30000;
  --r600-rgb: 179, 0, 0;
  --r500: #eb0000;
  --r500-rgb: 235, 0, 0;
  --r400: #ff5757;
  --r300: #ffbdbd;
  --r200: #ffdbdb;
  --r200-rgb: 255, 219, 219;
  --r100: #ffebeb;
  --m500: #d50199;
  --p700: #3e336c;
  --p600: #5a4ca2;
  --p500: #786ab9;
  --p400: #9189c8;
  --p300: #cfcce0;
  --p200: #e4e2ee;
  --p200-rgb: 228, 226, 238;
  --p100: #f3f1f8;

  --app-background: #f8f8fa;
  --container-background: #fff;
  --block-background: #f8f8fa;

  --active-background-color: #e5f5ff;
  --active-text-color: #0057ad;
  --active-border-color: #0073e6;

  --border: rgba(0, 0, 0, .1);
  --branding-logo: #0073e6;
  --link: var(--b500);
  --error: var(--r500);
  --topnav-search-background: #f2f2f7;
  --hover-background-color: #f2f2f7;

  --primary-text: #2c2c2e;
  --primary-title: #2c2c2e;

  --secondary-text: #48484a;

  --background-color-primary: var(--b500);
  --background-color-primary-hover: var(--b600);
  --background-color-secondary: var(--n0);
  --background-color-secondary-hover: var(--n50);
  --background-color-success: var(--g500);
  --background-color-success-hover: var(--g600);
  --background-color-danger: var(--r400);
  --background-color-danger-hover: var(--r500);
  --background-color-warning: var(--y400);
  --background-color-warning-hover: var(--y600);
  --background-color-dark: var(--n600);
  --background-color-dark-hover: var(--n700);
  --background-color-info: var(--b100);
  --background-color-info-hover: var(--b200);
  --background-color-light: var(--n100);
  --background-color-light-hover: var(--n200);
  --background-color-form: var(--n0);
  --background-color-form-hover: var(--n50);
  --background-color-transparent: var(--transparent);
  --background-color-transparent-hover: rgba(255, 255, 255, .1);
  --background-color-inline: var(--transparent);
  --background-color-inline-hover: var(--transparent);
  --background-color-mark: var(--b100);
  --background-color-feature-icon: var(--b500);
  --background-color-opaque: rgba(255, 255, 255, .1);

  --alert-background-info: var(--n500);
  --alert-background-success: var(--g500);
  --alert-background-danger: var(--r500);
  --alert-background-warning: var(--y400);
  --alert-background-action: var(--b500);

  --text-color-primary: var(--n0);
  --text-color-primary-hover: var(--n0);
  --text-color-secondary: var(--n800);
  --text-color-secondary-hover: var(--n800);
  --text-color-success: var(--n0);
  --text-color-success-hover: var(--n0);
  --text-color-danger: var(--n0);
  --text-color-danger-hover: var(--n0);
  --text-color-warning: var(--n0);
  --text-color-warning-hover: var(--n0);
  --text-color-dark: var(--n0);
  --text-color-dark-hover: var(--n0);
  --text-color-important: var(--r600);
  --text-color-info: var(--b600);
  --text-color-info-hover: var(--b700);
  --text-color-light: var(--n700);
  --text-color-light-hover: var(--n800);
  --text-color-form: var(--b500);
  --text-color-form-hover: var(--b600);
  --text-color-transparent: var(--n0);
  --text-color-transparent-hover: var(--n100);
  --text-color-inline: var(--n600);
  --text-color-inline-hover: var(--b500);
  --text-color-sidenav-item: var(--n700);
  --text-color-sidenav-item-icon: var(--n600);
  --text-color-sidenav-item-toggle: var(--secondary-text);
  --text-color-sidenav-subitem: var(--n600);
  --text-color-sidenav-item-active: var(--n800);
  --text-color-feature-block: var(--n700);
  --text-color-feature-card: var(--n700);
  --text-color-feature-card-body: var(--n700);
  --text-color-feature-card-small: var(--n0);
  --text-color-feature-card-small-body: var(--n200);
  --text-color-feature-card-secondary: var(--n0);
  --text-color-feature-card-secondary-body: var(--n200);
  --text-color-feature-icon: white;
  --text-color-line-title: var(--n500);

  --border-color-success: var(--g600);
  --border-color-danger: #eb0000;
  --border-color-info: #0073e6;

  --form-background: var(--n0);
  --input-height: 28px;
  --input-border: #c7c7cc;
  --input-radius: 8px;
  --focus-outline-color: #cce6ff;

  --elevation-overlay: 0 0 20px rgba(44, 44, 46, .25);

  --text-color-feature: #2c2c2e;

  --shadow-color-rgb: var(--n800-rgb);
  --shadow-border: rgba(var(--n400-rgb), .25);
  --shadow-border-hover: rgba(var(--n400-rgb), .3);
}